#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  //  600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    combos {
        compatible = "zmk,combos";

        left_brace {
            bindings = <&kp LBKT>;
            key-positions = <22 23>;
            layers = <0 1>;
        };

        right_brace {
            bindings = <&kp RBKT>;
            key-positions = <23 24>;
            layers = <0 1>;
        };

        single_quote {
            bindings = <&kp SQT>;
            key-positions = <36 37>;
            layers = <0 1>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <39 0>;
            layers = <0 1>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <39 12>;
            layers = <0 1>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <51 12>;
            layers = <0 1>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <51 0>;
            layers = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC     &kp N1     &kp N2        &kp N3     &kp N4    &kp N5                &mmv MOVE_UP    &kp N6      &kp N7     &kp N8            &kp N9              &kp N0           &kp DELETE
&kp TAB     &kp Q      &kp W         &kp E      &kp R     &kp T                 &mmv MOVE_DOWN  &kp Y       &kp U      &kp I             &kp O               &kp P            &kp BACKSPACE
&mo 2       &kp A      &kp S         &kp D      &kp F     &kp G                 &mmv MOVE_LEFT  &kp H       &kp J      &kp K             &kp L               &kp SEMI         &kp ENTER
&kp LSHFT   &kp Z      &kp X         &kp C      &kp V     &kp B                 &mmv MOVE_RIGHT &kp N       &kp M      &kp COMMA         &kp DOT             &kp FSLH         &kp RSHIFT
&kp C_MUTE  &kp LCTRL  &kp LEFT_ALT  &kp SPACE  &kp LCMD  &lt 3 C_PLAY_PAUSE    &mkp LCLK       &lt 4 LEFT  &kp SPACE  &mt RIGHT_ALT UP  &mt RIGHT_GUI DOWN  &mt RCTRL RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "mac";
            label = "mac";
        };

        layer_1 {
            display-name = "win";
            bindings = <
&kp ESC     &kp N1     &kp N2        &kp N3     &kp N4     &kp N5                &mmv MOVE_UP      &kp N6      &kp N7     &kp N8        &kp N9              &kp N0          &kp DELETE
&kp TAB     &kp Q      &kp W         &kp E      &kp R      &kp T                 &mmv MOVE_DOWN    &kp Y       &kp U      &kp I         &kp O               &kp P           &kp BACKSPACE
&mo 2       &kp A      &kp S         &kp D      &kp F      &kp G                 &mmv MOVE_LEFT    &kp H       &kp J      &kp K         &kp L               &kp SEMI        &kp ENTER
&kp LSHFT   &kp Z      &kp X         &kp C      &kp V      &kp B                 &mmv MOVE_RIGHT   &kp N       &kp M      &kp COMMA     &kp DOT             &kp FSLH        &kp RSHIFT
&kp C_MUTE  &kp LCTRL  &kp LEFT_ALT  &kp SPACE  &kp LCTRL  &lt 3 C_PLAY_PAUSE    &mkp LCLK         &lt 4 LEFT  &kp SPACE  &mt RCTRL UP  &mt RIGHT_ALT DOWN  &mt RGUI RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            label = "win";
        };

        layer_2 {
            bindings = <
&trans      &kp F1    &kp F2    &kp F3     &kp F4     &kp F5    &trans  &kp F6           &kp F7           &kp F8           &kp F9           &kp F10        &trans
&caps_word  &kp HOME  &kp UP    &kp END    &kp PG_UP  &trans    &trans  &kp KP_ASTERISK  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_DIVIDE  &trans
&trans      &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &trans    &trans  &kp KP_PLUS      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS   &trans
&trans      &trans    &trans    &trans     &trans     &trans    &trans  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT     &trans
&trans      &trans    &trans    &trans     &trans     &tog 2    &trans  &trans           &trans           &trans           &trans           &trans
            >;

            display-name = "arrow";
            label = "arrow";
        };

        layer_3 {
            bindings = <
&trans      &trans          &trans          &trans           &trans          &trans      &msc SCRL_UP     &trans            &trans           &trans           &trans           &trans           &trans
&trans      &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &msc SCRL_UP    &trans      &msc SCRL_DOWN   &rgb_ug RGB_EFF   &trans           &rgb_ug RGB_BRI  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_SPI
&trans      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN  &trans      &msc SCRL_LEFT   &rgb_ug RGB_EFR   &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_SPD
&trans      &msc SCRL_LEFT  &mkp MB3        &msc SCRL_RIGHT  &mkp MB4        &mkp MB5    &msc SCRL_RIGHT  &kp C_PLAY_PAUSE  &kp C_NEXT       &kp C_VOL_UP     &kp C_VOL_DN     &kp C_VOL_DN     &trans
&kp C_PREV  &trans          &trans          &trans           &trans          &trans      &mkp RCLK        &trans            &trans           &trans           &trans           &trans
            >;

            display-name = "mouse";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "mouse";
        };

        layer_4 {
            label = "symbol";
            display-name = "symbol";
            bindings = <
&kp GRAVE  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &kp MINUS         &kp EQUAL          &kp BACKSLASH
&trans     &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans     &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &kp SQT           &trans             &trans
&trans     &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans            &trans             &trans
&trans     &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans            &trans
            >;
        };

        layer_5 {
            bindings = <
&soft_off  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &kp F6  &kp F7  &kp F8      &kp F9     &kp F10      &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans  &trans  &kp F11     &kp F12    &trans       &trans
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans  &trans  &trans      &trans     &trans       &trans
&trans     &sys_reset    &trans          &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans  &trans  &sys_reset  &soft_off  &bootloader  &trans
&trans     &tog 1        &trans          &trans        &trans        &trans          &mkp LCLK        &trans  &trans  &trans      &trans     &tog 6
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "admin";
        };

        layer_6 {
            bindings = <
&none   &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
&none   &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
&none   &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
&none   &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
&tog 6  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
            >;

            label = "lock";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        admin {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};
